alembic==0.8.9
click==6.7            
Flask==1.0          
Flask-Assets==0.12    
Flask-Babel==0.11.1
Flask-Script==2.0.5
Flask_Sqlalchemy==2.0
Flask_Migrate==2.1.1
httplib2==0.18.0       
itsdangerous==0.24    
Jinja2==2.10.1     
Mako==1.0.6           
MarkupSafe==0.23      
oauth2==1.9.0.post1
pycparser==2.14       
python-editor==1.0.3  
requests==2.20.0
webassets==0.12.0
Werkzeug==0.15.3     
gunicorn==19.6.0
beautifulsoup4==4.5.3
line-bot-sdk==1.5.0
imgurpython==1.1.7
elasticsearch==1.6.0
psycopg2-binary==2.7.4
pillow==7.0.0

scipy==0.19.1
scikit-learn==0.19.1
opencv-python==3.2.0.8

psycopg2==2.7.4
pycrypto==2.6.1
pyimgur==0.6.0
pyOpenSSL == 17.5.0
oauth2client == 4.1.2
gspread == 0.6.2
